[submodule "components/box2d"]
	path = components/box2d
	url = https://github.com/erincatto/box2d.git
	shallow = true
[submodule "components/SDL"]
	path = components/SDL
	url = https://github.com/pspdev/SDL.git
	shallow = true
[submodule "components/stb"]
	path = components/stb
	url = https://github.com/nothings/stb.git
	shallow = true
[submodule "components/glm"]
	path = components/glm
	url = https://github.com/g-truc/glm
	shallow = true
[submodule "components/sail"]
	path = components/sail
	url = https://github.com/HappySeaFox/sail.git
	shallow = true
[submodule "components/ya2d"]
	path = components/ya2d
	url = https://github.com/xerpi/ya2d.git
	shallow = true
[submodule "components/smpeg-psp"]
	path = components/smpeg-psp
	url = https://github.com/fungos/smpeg-psp.git
	shallow = true
[submodule "components/pspgl"]
	path = components/pspgl
	url = https://github.com/pspdev/pspgl.git
	shallow = true
[submodule "components/libunrar-ps3"]
	path = components/libunrar-ps3
	url = https://github.com/bucanero/libunrar-ps3
	shallow = true
[submodule "components/imgui"]
	path = components/imgui
	url = https://github.com/adriensalon/imgui_psp.git
	shallow = true
[submodule "components/oslib"]
	path = components/oslib
	url = https://github.com/dogo/oslib.git
	shallow = true
[submodule "components/bzip2"]
	path = components/bzip2
	url = https://gitlab.com/bzip2/bzip2.git
	shallow = true
[submodule "components/tremor"]
	path = components/tremor
	url = https://gitlab.xiph.org/xiph/tremor.git
	shallow = true
[submodule "components/raylib"]
	path = components/raylib
	url = https://github.com/raylib4Consoles/raylib.git
	shallow = true
[submodule "components/libmad"]
	path = components/libmad
	url = https://github.com/pspdev/libmad.git
	shallow = true
[submodule "components/theora"]
	path = components/theora
	url = https://gitlab.xiph.org/xiph/theora.git
	shallow = true
[submodule "components/code"]
	path = components/code
	url = https://git.code.sf.net/p/giflib/code
	shallow = true
[submodule "components/minilzo"]
	path = components/minilzo
	url = https://github.com/yuhaoth/minilzo.git
	shallow = true
[submodule "components/mini18n"]
	path = components/mini18n
	url = https://github.com/bucanero/mini18n
	shallow = true
[submodule "components/psp-uart-library"]
	path = components/psp-uart-library
	url = https://github.com/Operation-DITTO/psp-uart-library.git
	shallow = true
[submodule "components/SDL_net"]
	path = components/SDL_net
	url = https://github.com/libsdl-org/SDL_net.git
	shallow = true
[submodule "components/bullet3"]
	path = components/bullet3
	url = https://github.com/bulletphysics/bullet3.git
	shallow = true
[submodule "components/jsoncpp"]
	path = components/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
	shallow = true
[submodule "components/openTRI"]
	path = components/openTRI
	url = https://github.com/fjtrujy/openTRI.git
	shallow = true
[submodule "components/libpspav"]
	path = components/libpspav
	url = https://github.com/pspdev/libpspav.git
	shallow = true
[submodule "components/yaml-cpp"]
	path = components/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	shallow = true
[submodule "components/squirrel"]
	path = components/squirrel
	url = https://github.com/albertodemichelis/squirrel.git
	shallow = true
[submodule "components/sdl3-gfx"]
	path = components/sdl3-gfx
	url = https://github.com/sabdul-khabir/SDL3_gfx.git
	shallow = true
[submodule "components/SDL_image"]
	path = components/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = main
	shallow = true
[submodule "components/SDL_mixer"]
	path = components/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = main
	shallow = true
[submodule "components/pspirkeyb"]
	path = components/pspirkeyb
	url = https://github.com/pspdev/pspirkeyb.git
	shallow = true
[submodule "components/dbglogger"]
	path = components/dbglogger
	url = https://github.com/bucanero/dbglogger.git
	shallow = true
[submodule "components/libun7zip"]
	path = components/libun7zip
	url = https://github.com/bucanero/libun7zip
	shallow = true
[submodule "components/libpspftp"]
	path = components/libpspftp
	url = https://github.com/pspdev/libpspftp.git
	shallow = true
[submodule "components/mikmod"]
	path = components/mikmod
	url = https://git.code.sf.net/p/mikmod/mikmod
	shallow = true
[submodule "components/libpspvram"]
	path = components/libpspvram
	url = https://github.com/pspdev/libpspvram.git
	shallow = true
[submodule "components/libmodplug"]
	path = components/libmodplug
	url = https://github.com/Konstanty/libmodplug
	shallow = true
[submodule "components/libpspmath"]
	path = components/libpspmath
	url = https://github.com/tufty/libpspmath.git
	shallow = true
[submodule "components/libbulletml"]
	path = components/libbulletml
	url = https://github.com/pspdev/libbulletml.git
	shallow = true
[submodule "components/psp-cfw-sdk"]
	path = components/psp-cfw-sdk
	url = https://github.com/pspdev/psp-cfw-sdk.git
	shallow = true
[submodule "components/tinygettext"]
	path = components/tinygettext
	url = https://github.com/tinygettext/tinygettext.git
	shallow = true
[submodule "components/libintrafont"]
	path = components/libintrafont
	url = https://github.com/pspdev/libintrafont
	shallow = true
[submodule "components/cereal"]
	path = components/cereal
	url = https://github.com/USCiLab/cereal.git
	branch = master
	shallow = true
[submodule "components/cjson"]
	path = components/cjson
	url = https://github.com/DaveGamble/cJSON.git
	branch = master
	shallow = true
[submodule "components/curl"]
	path = components/curl
	url = https://github.com/curl/curl.git
	branch = master
	shallow = true
[submodule "components/dumb"]
	path = components/dumb
	url = https://github.com/kode54/dumb.git
	branch = master
	shallow = true
[submodule "components/enet"]
	path = components/enet
	url = https://github.com/lsalzman/enet.git
	branch = master
	shallow = true
[submodule "components/expat"]
	path = components/expat
	url = https://github.com/libexpat/libexpat.git
	branch = master
	shallow = true
[submodule "components/faudio"]
	path = components/faudio
	url = https://github.com/FNA-XNA/FAudio.git
	branch = master
	shallow = true
[submodule "components/flac"]
	path = components/flac
	url = https://github.com/xiph/flac.git
	branch = master
	shallow = true
[submodule "components/flatbuffers"]
	path = components/flatbuffers
	url = https://github.com/google/flatbuffers.git
	branch = master
	shallow = true
[submodule "components/fmt"]
	path = components/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = main
	shallow = true
[submodule "components/googletest"]
	path = components/googletest
	url = https://github.com/google/googletest.git
	branch = main
	shallow = true
[submodule "components/harfbuzz"]
	path = components/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
	branch = main
	shallow = true
[submodule "components/libjpeg-turbo"]
	path = components/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
	branch = main
	shallow = true
[submodule "components/leptonica"]
	path = components/leptonica
	url = https://github.com/DanBloomberg/leptonica.git
	branch = master
	shallow = true
[submodule "components/libconfuse"]
	path = components/libconfuse
	url = https://github.com/libconfuse/libconfuse.git
	branch = master
	shallow = true
[submodule "components/libogg"]
	path = components/libogg
	url = https://github.com/xiph/ogg.git
	branch = main
	shallow = true
[submodule "components/libpng"]
	path = components/libpng
	url = https://github.com/pnggroup/libpng.git
	branch = libpng18
	shallow = true
[submodule "components/libvorbis"]
	path = components/libvorbis
	url = https://github.com/xiph/vorbis.git
	branch = main
	shallow = true
[submodule "components/libxmp"]
	path = components/libxmp
	url = https://github.com/libxmp/libxmp.git
	branch = master
	shallow = true
[submodule "components/libyaml"]
	path = components/libyaml
	url = https://github.com/yaml/libyaml.git
	branch = master
	shallow = true
[submodule "components/libzip"]
	path = components/libzip
	url = https://github.com/nih-at/libzip.git
	branch = main
	shallow = true
[submodule "components/lz4"]
	path = components/lz4
	url = https://github.com/lz4/lz4.git
	branch = dev
	shallow = true
[submodule "components/mbedtls"]
	path = components/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	branch = development
	shallow = true
[submodule "components/openal"]
	path = components/openal
	url = https://github.com/illteteka/openal-soft-psp.git
	branch = main
	shallow = true
[submodule "components/opus"]
	path = components/opus
	url = https://github.com/xiph/opus.git
	branch = main
	shallow = true
[submodule "components/opusfile"]
	path = components/opusfile
	url = https://github.com/xiph/opusfile.git
	branch = main
	shallow = true
[submodule "components/physfs"]
	path = components/physfs
	url = https://github.com/icculus/physfs.git
	branch = main
	shallow = true
[submodule "components/pocketpy"]
	path = components/pocketpy
	url = https://github.com/pocketpy/pocketpy.git
	branch = main
	shallow = true
[submodule "components/spdlog"]
	path = components/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
	shallow = true
[submodule "components/tinyxml2"]
	path = components/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
	branch = master
	shallow = true
[submodule "components/unarr"]
	path = components/unarr
	url = https://github.com/selmf/unarr.git
	branch = master
	shallow = true
[submodule "components/wolfssl"]
	path = components/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
	branch = master
	shallow = true
[submodule "components/xxhash"]
	path = components/xxhash
	url = https://github.com/Cyan4973/xxHash.git
	branch = dev
	shallow = true
[submodule "components/zlib"]
	path = components/zlib
	url = https://github.com/madler/zlib.git
	branch = develop
	shallow = true
[submodule "components/zziplib"]
	path = components/zziplib
	url = https://github.com/gdraheim/zziplib.git
	branch = master
	shallow = true
[submodule "components/freetype"]
	path = components/freetype
	url = https://github.com/freetype/freetype.git
	branch = master
	shallow = true
[submodule "components/eigen"]
	path = components/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = master
	shallow = true
[submodule "components/xz"]
	path = components/xz
	url = https://github.com/tukaani-project/xz.git
	branch = master
	shallow = true
[submodule "components/minizip-ng"]
	path = components/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
	branch = develop
	shallow = true
[submodule "components/pspla"]
	path = components/pspla
	url = https://github.com/Jayanky/pspla.git
	branch = main
	shallow = true
[submodule "components/psp-media-engine-custom-core"]
	path = components/psp-media-engine-custom-core
	url = https://github.com/mcidclan/psp-media-engine-custom-core.git
	branch = main
	shallow = true
[submodule "components/smath"]
	path = components/smath
	url = https://github.com/slendidev/smath.git
	branch = master
	shallow = true
[submodule "components/luasocket"]
	path = components/luasocket
	url = https://github.com/lunarmodules/luasocket.git
	branch = master
	shallow = true
[submodule "components/SDL3"]
	path = components/SDL3
	url = https://github.com/libsdl-org/SDL.git
	branch = main
	shallow = true
[submodule "components/SDL_ttf"]
	path = components/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = main
	shallow = true
